/*
filename: lab04.css
author: Thomas Mathew
created: 26/08/2026
last modified: 26/08/2026
description: Styles for lab04.html
*/

h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

* {
    font-family: Calibri, sans-serif;
    color: #2F4F4F;
}

h2 {
    color: rgb(0, 128, 128);
    font-weight: bold;
    font-size: 1.5em;
}

aside, footer {
    font-style: italic;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid black;
}

#images {
    text-align: center;
}

#heading {
    color: red;
}

.special {
    color: darkorange;
    font-weight: bold;
}

.month {
    text-align: right;
}